@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

.offset {
  position:relative;
}

/*--- Navigation --*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem; /*1 rem = 16 pixels*/
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3
}

/*--- Landing Page --*/

/*.home-inner {
  background-image: url(img/computers.png);
}*/

.caption {
  width: 100%;
  max-width: 100%;
  position: relative;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/*--- Course Section --*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 2.4rem;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: #1ebba3;
  border-color: #1ebba3;
}

.btn-secondary:hover {
  background-color: #189582;
  border-color: #189582;
}

/*--- Features Section --*/

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}

.feature svg.svg-inline--fa {
  color: #1ebba3;
}

.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}

.feature p {
  font-size: 1.1rem;
}

/*--- Resources Section --*/

/*.fixed {
  background-image: url(img/apple.png);
  z-index: -1;
}*/

.dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 7rem 2rem;
}

#fixed-background {
  position: fixed;
  background-image: url("img/apple.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 98.9%;
  height: 100%;
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
