<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SGS - Courses</title>
    <link rel="stylesheet" href="/bootstrap-4.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/courses.css">
    <link rel="stylesheet" href="/fixed.css">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">

    <!--- Start Home Section -->
    <div id="fixed"></div>
    <div id="courses">

        <!--- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <!--	<a class="navbar-brand" href="#"><img src="img/SGS1.png"></a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <!--md, mx, ml-->
                    <li class="nav-item">
                        <a class="nav-link" href="">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Announcements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Courses</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href=""><img src="img/SGS1.png"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">HT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--- End Navigation-->

        <!--- Start Landing Page Section -->
        <div class="caption text-center">
            <a href="#"><i class="fa-solid fa-book fa-6x"></i></a>
            <h2>Course Catalogue</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Courses</span>
                </div>
                <input type="text" class="form-control" id="searchInput" placeholder="Enter a course name"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="d-flex flex-wrap" id="Search">
                <% courses.forEach(function(val) { %>
                    <div class="p-2 bd-highlight <%= val.CourseID %>">
                        <div class="flex-item">
                            <div class="flex-shrink-0">
                                <img src="..." alt="...">
                            </div>
                            <div>
                                <a href="/courses/<%= val.CourseID %>">
                                    <h5>
                                        <%= val.Prefix %>
                                    </h5>
                                </a>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>
                                    <%= val.Course_Name %>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <!--- End Landing Page Section-->

    </div>
    <!--- End Home Section -->

    <!--- Script Source Files -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/searchCourses.js"></script>
    <!--- End of Script Source Files -->

</body>

</html>